<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="ISO-8859-1">
	<title>Character creation</title>
</head>

<body>
	<h1>Looks like you don't have a character. Why don't you make one?</h1>
	<form action="/createCharacter" method="GET">
		<label>What name will have your character? </label>
		<input type="text" name="characterName">
		<br>
		<h2>Choose the class of your character</h2>
		<table>
			<tr>
				<th>Berserker</th>
				<th>Balanced</th>
				<th>Spiritual</th>
			</tr>
			<tr>
				<td>
					<input type="radio" name="classType" value="berserker">
					<img src="https://i.imgur.com/pbwUTSW.png" height="250px">
					<p>They inflict immense amounts of damage<br>
					with their physical attacks; berserker's stats lack on Reiatsu,<br>
					but they compensate it with huge amounts of attack and defense.<br>
					 Ideal for close range combats.</p>
				</td>
				<td>
					<input type="radio" name="classType" value="balanced">
					<img src="https://i.imgur.com/8noIjw3.jpg" height="250px">
					<p>Balanced characters are well known for their<br>
					versatility in combat. They can last a good<br>
					amount of time in close range combat, but also<br>
					can keep the distance between their oponents<br>
					to make use of Reiatsu.</p>
				</td>
				<td>
					<input type="radio" name="classType" value="spiritual">
					<img src="https://i.imgur.com/S83m0qD.png" height="250px">
					<p>Spiritual ones have a huge amount of Reiatsu.<br>
					They engage in combat keeping the distance<br>
					between them and their opponents in order<br>
					to anihilate their opponents with powerful Reiatsu.</p>
					<br>
				</td>
			</tr>
		</table>

		<button type="submit">Create</button>
		<input type="hidden" name="username" th:value="${username}">
	</form>
</body>

</html>