<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="ISO-8859-1">
	<title>Currently hunting a Hollow!</title>
</head>

<body>
	<h1><span th:text="${user.username}"></span>! You're fighting against <span
			th:text="${hollow.hollowName}"></span>!</h1>
	<ul>
		<li><span th:text="${character.characterName}"></span></li>
		<li><img th:src="${character.aspect}" height="350px"></li>
		<li>Remaining Health: <span th:text="${character.hp}"></span></li>
		<li>Attack: <span th:text="${character.atk}"></span></li>
		<li>Defence: <span th:text="${character.def}"></span></li>
		<li>Remaining Reiatsu: <span th:text="${character.reiatsu}"></span></li>
	</ul>
	<ul>
		<li><span th:text="${hollow.hollowName}"></span></li>
		<li><img th:src="${hollow.aspect}"></li>
		<li>Remaining Health: <span th:text="${hollow.hp}"></span></li>
		<li>Attack: <span th:text="${hollow.atk}"></span></li>
		<li>Defence: <span th:text="${hollow.def}"></span></li>
		<li>Remaining Reiatsu: <span th:text="${hollow.reiatsu}"></span></li>
	</ul>
	<form action="/manageCombatAgainstHollow" method="GET">
		<h2>Choose your actions!</h2>
		<h2>Attack with...</h2>
		<h3>Physical Attacks: </h3>
		<ul th:each="physAtk : ${character.physicalSkills}">
			<li><input type="radio" name="attackAction" th:value="${physAtk}"><span th:text="${physAtk}"></span></input>
			</li>
		</ul>
		<h3>Kido Attacks: </h3>
		<ul th:each="kidoAtk : ${character.kidoSkills}">
			<li><input type="radio" name="attackAction" th:value="${kidoAtk}"><span th:text="${kidoAtk}"></span></input>
			</li>
		</ul>
		<h3 th:if="${#lists.size(character.buffs) > 0}">Buffs: </h3>
		<ul th:if="${#lists.size(character.buffs) > 0}">
			<li th:each="buff : ${character.buffs}">
				<input type="radio" name="buffAction" th:value="${buff}"><span th:text="${buff}"></span></input>
			</li>
		</ul>
		<button type="submit">
			<h2>End turn</h2>
		</button>
		<!-- Passing entities and data to controller -->
		<input type="hidden" name="username" th:value="${user.username}">
		<input type="hidden" name="characterName" th:value="${character.characterName}">
		<input type="hidden" name="hollowName" th:value="${hollow.hollowName}">
	</form>
</body>

</html>