<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <div th:fragment="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/train">Train</a></li>
            <li><a href="/hunthollows">Hunt Hollows</a></li>
            <li><a href="/worldbosses">World Bosses</a></li>
            <li><a href="/shop">Shop</a></li>
        <!--
            <div th:each="role : ${user.userRoles}">
                <div th:if="${role.name} == ADMIN">
                    <li><a href="/admin/users">Manage users</a></li>
                    <li><a href="/admin/characters">Manage characters</a></li>
                    <li><a href="/admin/hollows">Manage hollows</a></li>
                </div>
            </div>
        -->
            <li>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>