<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Swordbound Souls</title>
</head>
<body>
	<h1>Register your new account</h1>
	<form action="/register" method="POST">
		<p>For your new account, specify...</p>
		<label>Your username: </label>
		<input type="text" name="username">
		<br>
		<label>Your password: </label>
		<input type="password" name="pass">
		<br>
		<button type="submit" name="buttonPressed" value="confirm">Register</button>
		<button type="submit" name="buttonPressed" value="cancel">Cancel</button>
	</form>
</body>
</html>